# Ignore the .env file containing sensitive environment variables
.env

# Other common files and directories to ignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
Thumbs.db

# Ignore Python virtual environments
venv/
.env/
env/
ENV/
